# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/
out/
.next/
assets/js/firebase-init.js

# TypeScript
*.tsbuildinfo

# System files
.DS_Store

# Firebase secrets
serviceAccount.json
