image: node:18-alpine

stages:
  - build
  - test

# Job untuk memastikan project bisa di-build (npm install & build)
build_project:
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
    expire_in: 1 hour

# Include template Security standar GitLab (Opsional)
include:
  - template: Security/Secret-Detection.gitlab-ci.yml

# Job dari template Secret Detection berjalan di stage 'test'
secret_detection:
  stage: test
